@font-face {
  font-family: "Ropa";
  src: url("../fonts/Ropa/RopaSans-Regular.ttf");
}

body {
  font-family: "Ropa";
}

.container {
  padding: 0 30px !important;
}

a {
  text-decoration: none;
  color: #757373;
  font-weight: normal;
}

a:focus {
  text-decoration: none;
  color: #757373;
  font-weight: normal;
}

header {
  background-color: #749bfa;
  height: 120px;
}
#header-title {
  padding-top: 20px;
  color: white;
}

/* daftar kantin */
.daftar-kantin {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: -60px;
  height: 300px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.daftar-kantin h6 {
  font-size: 18px;
  color: #8b8b8b;
}

.daftar-kantin .row {
  font-size: 13px;
  margin-top: 20px;
}

.daftar-kantin .circle {
  background-color: #73ddff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
}

.daftar-kantin p {
  font-size: 10px;
  color: #757373;
  text-transform: uppercase;
}

/* TITIP TEMAN */
.titip-teman,
.history {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  height: 60px;
  margin-top: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.titip-teman,
.history img {
  line-height: 30px;
}
.titip-teman,
.history p {
  line-height: 30px;
  font-size: 15px;
}
