@font-face {
  font-family: "Ropa";
  src: url("../fonts/Ropa/RopaSans-Regular.ttf");
}

@font-face {
  font-family: "Muli Reg";
  src: url("../fonts/Muli/Muli-Regular.ttf");
}

@font-face {
  font-family: "Muli Light";
  src: url("../fonts/Muli/Muli-Light.ttf");
}

body {
  background-color: #fff;
}

.logo img{
	width: 25%;
	margin-left: 35%;
	margin-top: 20%;
}

.info{
	margin-left: 10%;
	margin-top: 10%;
}

.info p{
	font-size: 8pt;
}

.info h4{
	color: lightblue;
}

.grup{
	margin-left: 10%;
}

.grup p{
	font-size: 8pt;
	margin-left: 40%;
}

.masuk{
	width: 140%;
}

label{
	font-size: 8pt;
	color: lightblue;
}

input{
	width: 140%;
	background-color: #fff;
	border:none;
	border-bottom: 2px solid lightblue;
}