@font-face {
  font-family: "Ropa";
  src: url("../fonts/Ropa/RopaSans-Regular.ttf");
}

@font-face {
  font-family: "Muli Reg";
  src: url("../fonts/Muli/Muli-Regular.ttf");
}

@font-face {
  font-family: "Muli Light";
  src: url("../fonts/Muli/Muli-Light.ttf");
}

body {
  background-color: white;
}

header {
  background-color: #749bfa;
  height: 65px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

#header-title {
  padding-top: 20px;
  color: white;
}

.bar{
  margin-bottom: 10%;
}

.prog{
  width: 80%;
  margin-left: 10%;
}

.tot{
  margin-right: 10%;
  text-align: right;
}

.circle img{
  border-radius: 50%;
  width: 40%;
  margin-left: 20%;
  margin-top: 5%;
}

.circle2 img{
  border-radius: 50%;
  width: 40%;
}

.penitip{
  width: 80%;
  background-color: rgba(205, 205, 205, 0.5);
}

.bio{
  margin-right: 15%;
  margin-top: -22%;
}

button{ 
  margin-left: 25%;
  width: 50%;
}

.nitip{
  border:5px solid black;
  box-shadow: 10px 10px 10px solid black;
}

.siswa  {
  margin-top: 5%;
  margin-left: 10%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  padding-left: 15%;

}

.siswa img {
  line-height: 30px;
  margin-left: -500%;
}

.siswa p{
  margin-right: -50%;
  font-size: 10pt;
  color: black;
}

.ctg{
  background-color: lightblue;
  padding-left: 3%;
  margin-left: -6%;
  border-radius: 0 10% 10% 0;
}